body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

/** =============== HEADER ===============  */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/** =============== HEADER END ===============  */

/** =============== HERO ===============  */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  display: block;
  margin: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/** =============== HERO END ===============  */

/** =============== BENEFITS ===============  */

.benefits {
}

.benefits-container {
}

.benefits-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.benefits-item {
  max-width: 264px;
}

.benefits-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ========== BENEFITS END ==========  */

/** ============== TEAM ==============  */

.team {
  background-color: #f4f4fd;
}

.team-container {
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  max-width: 264px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-info {
  padding: 32px 0;
}

.team-img {
}

.team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ============ TEAM END ============  */

/** ============ PORTFOLIO ============  */

.portfolio {
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  max-width: 360px;
  background: #fff;
}

.portfolio-img {
}

.portfolio-item-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ========== PORTFOLIO END ==========  */

/** ============= FOOTER =============  */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-part-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/** ============= FOOTER END =============  */
